---
- name: Configure Workstation
  hosts: this_host
  gather_facts: true
  roles:
    - system
  tasks:
    - name: Dotfiles | Check already present
      ansible.builtin.stat:
        path: "{{ dotfiles_path }}"
      register: dotfiles
    - name: Dotfiles | Clone
      ansible.builtin.git:
        repo: https://github.com/tenhishadow/dotfiles.git
        dest: "{{ dotfiles_path }}"
      when:
        - not dotfiles.stat.exists
    - name: Dotfiles | install
      ansible.builtin.shell:
        cmd: go-task
        chdir: "{{ dotfiles_path }}"
      when:
        - not dotfiles.stat.exists
