---
- hosts: this_host
  gather_facts: true
  roles:
    - system
  tasks:
    - name: dotfiles | check already presented
      ansible.builtin.stat:
        path: "{{ ansible_facts.user_dir }}/.dotfiles"
      register: dotfiles
    - name: dotfiles | clone
      ansible.builtin.git:
        repo: https://github.com/tenhishadow/dotfiles.git
        dest: "{{ ansible_facts.user_dir }}/.dotfiles"
      when:
        - not dotfiles.stat.exists
    # - name: dotfiles | install
    #   ansible.builtin.shell:
    #     cmd: go-task
    #     chdir: "{{ ansible_facts.user_dir }}/.dotfiles"
    #   when:
    #     - not dotfiles.stat.exists
