---
motd_message: o_O
issue_message: o_O

journald_config:
  storage: persistent
  compress: "yes"
  systemmaxuse: 50M

sshd_config:
  Port: "22"
  AddressFamily: "any"
  Protocol: "2"
  UseDNS: "no"
  SyslogFacility: "AUTHPRIV"
  LoginGraceTime: "1m"
  StrictModes: "yes"
  MaxAuthTries: "20"
  MaxSessions: "100"
  PermitRootLogin: "prohibit-password"
  PubkeyAuthentication: "yes"
  IgnoreRhosts: "yes"
  PasswordAuthentication: "yes"
  PermitEmptyPasswords: "no"
  ClientAliveInterval: "300"
  AllowAgentForwarding: "yes"
  AllowTcpForwarding: "yes"
  ClientAliveCountMax: "2"
  UnusedConnectionTimeout: "300"
  RequiredRSASize: "2048"
  KerberosAuthentication: "no"
  PubkeyAcceptedAlgorithms: "-ssh-rsa,-rsa-sha2-256,-rsa-sha2-512"
  Ciphers: "chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr"
  MACs: "hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com"
  KexAlgorithms: "sntrup761x25519-sha512@openssh.com,curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group-exchange-sha256"
  HostKeyAlgorithms: "ssh-ed25519,rsa-sha2-512,rsa-sha2-256"

configure_sysctl: true
sysctl_params:
  vm.swappiness: "10"
  net.ipv6.conf.default.disable_ipv6: "1"
  net.ipv6.conf.lo.disable_ipv6: "1"
  net.ipv6.conf.all.disable_ipv6: "1"
