---
version: 2.1

jobs:
  ansible_exec:
    docker:
      - image: archlinux:latest # checkov:skip=CKV_CIRCLECIPIPELINES_1
    environment:
      ANSIBLE_FORCE_COLOR: "True"
    steps:
      - checkout
      - run:
          name: deps | system | install
          command: >-
            pacman -Sy --noconfirm
            go-task uv git
      - run:
          name: exec
          command: go-task

workflows:
  ansible_exec:
    jobs:
      - ansible_exec
