---
- name: Ensure docker group exists
  become: true
  ansible.builtin.group:
    name: docker
    state: present

- name: Create docker conf dir
  become: true
  ansible.builtin.file:
    path: "{{ system_docker_conf_dir }}"
    state: directory
    owner: "{{ system_configs.owner }}"
    group: "{{ system_configs.group }}"
    mode: "{{ system_configs.mode }}"

- name: Configure docker
  become: true
  ansible.builtin.template:
    backup: true
    src: templates/docker.json.j2
    dest: "{{ system_docker_conf_dir }}/daemon.json"
    owner: "{{ system_configs.owner }}"
    group: "{{ system_configs.group }}"
    mode: "{{ system_configs.mode }}"
  notify: RestartDocker

- name: Add current user to docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_facts.user_id }}"
    groups: docker
    append: true
