---
- name: Ensure docker group exists
  become: true
  group:
    name: docker
    state: present

- name: create docker conf dir
  become: true
  file:
    path:  "{{ docker_conf_dir }}"
    state: directory
    owner: "{{ configs.owner }}"
    group: "{{ configs.group }}"
    mode:  "{{ configs.mode }}"

- name: configure docker
  become: true
  template:
    backup: true
    src:    templates/docker.json.j2
    dest:   "{{ docker_conf_dir }}/daemon.json"
    owner:  "{{ configs.owner }}"
    group:  "{{ configs.group }}"
    mode:   "{{ configs.mode }}"

- name: Add current user to docker group
  become: true
  user:
    name: "{{ ansible_facts.user_id }}"
    groups: docker
    append: true
