---
- name: Blacklist camera
  become: true
  community.general.kernel_blacklist:
    name: uvcvideo
    state: present
  failed_when: false

- name: Create dir for systemd unitfile
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.config/systemd/user/"
    state: directory
    owner: "{{ ansible_facts.user_id }}"
    group: "{{ ansible_facts.user_id }}"
    mode: u=rwx,g-,o-

- name: Create user systemd service for ssh-agent
  become: true
  ansible.builtin.template:
    src: templates/ssh-agent.service.j2
    dest: "{{ ansible_facts.user_dir }}/.config/systemd/user/ssh-agent.service"
    backup: true
    owner: "{{ ansible_facts.user_id }}"
    group: "{{ ansible_facts.user_id }}"
    mode: u=rw,g=r,o-
  when:
    - ansible_facts.service_mgr == "systemd"
    - ansible_facts['virtualization_type'] != 'docker'
  notify:
    - SshdAgentUser

- name: Start/enable in playbook
  ansible.builtin.systemd:
    scope: user
    name: ssh-agent.service
    state: started
    enabled: true
    daemon_reload: true
  when:
    - lookup('env', 'CI') != 'true'
    - ansible_facts['virtualization_type'] != 'docker'
