- name: Vars | include for {{ ansible_facts.os_family | lower }}
  ansible.builtin.include_vars: "{{ item }}"
  loop:
    - "{{ ansible_facts.os_family | lower }}.yml"
    - "{{ ansible_facts.os_family | lower }}-packages.yml"
  tags:
    - pkg

- name: Packages | install
  become: true
  ansible.builtin.package:
    name: "{{ packages }}"
    state: present
  tags:
    - pkg

- name: Time | configure
  ansible.builtin.include_tasks:
    file: time.yml

- name: OS-common configuration
  ansible.builtin.include_tasks:
    file: system.yml

- name: OS-related configuration
  ansible.builtin.include_tasks:
    file: "{{ ansible_facts.os_family | lower }}-tasks.yml"

- name: docker config
  ansible.builtin.include_tasks:
    file: docker.yml
  when:
    - ansible_facts['virtualization_type'] != 'docker'
    - lookup('env', 'CI') != 'true' # for CirleCI

- name: laptop-related configuration
  ansible.builtin.include_tasks:
    file: laptop.yml
