---
- name: locale | check definitions
  ansible.builtin.stat:
    path: "{{ item.1 }}/{{ item.0 }}"
  loop: "{{ locales | product(locale_definition_dirs) | list }}"
  register: locale_defs
  changed_when: false

- name: locale | set locale definition lists
  ansible.builtin.set_fact:
    locale_available: "{{ _locale_available }}"
    locale_missing_defs: "{{ locales | difference(_locale_available) }}"
  vars:
    _locale_available: >-
      {{ locale_defs.results
         | selectattr('stat.exists')
         | map(attribute='item.0')
         | unique
         | list }}

- name: locale | configure gen
  become: true
  ansible.builtin.template:
    backup: true
    src: templates/locale.gen.j2
    dest: /etc/locale.gen
    owner: "{{ configs.owner }}"
    group: "{{ configs.group }}"
    mode: "{{ configs.mode }}"
  notify:
    - systemd-vconsole-setup

- name: locale | configure
  become: true
  ansible.builtin.template:
    backup: true
    src: templates/locale.conf.j2
    dest: /etc/locale.conf
    owner: "{{ configs.owner }}"
    group: "{{ configs.group }}"
    mode: "{{ configs.mode }}"
  notify:
    - systemd-vconsole-setup

- name: locale | list generated
  become: true
  ansible.builtin.command: locale -a
  register: locale_list
  changed_when: false

- name: locale | generate
  become: true
  ansible.builtin.command: locale-gen
  vars:
    desired_locales: >-
      {{ locale_available
         | map('regex_replace', '$', '.utf8')
         | map('lower')
         | list }}
    current_locales: "{{ locale_list.stdout_lines | map('lower') | list }}"
    missing_locales: "{{ desired_locales | difference(current_locales) }}"
  when:
    - lookup('env', 'CI') != 'true'
    - missing_locales | length > 0

- name: vconsole | configure
  become: true
  ansible.builtin.template:
    backup: true
    src: templates/vconsole.conf.j2
    dest: /etc/vconsole.conf
    owner: "{{ configs.owner }}"
    group: "{{ configs.group }}"
    mode: "{{ configs.mode }}"
  notify:
    - systemd-vconsole-setup

- name: configure | /etc/motd
  become: true
  ansible.builtin.template:
    backup: true
    src: templates/motd.j2
    dest: /etc/motd
    owner: "{{ configs.owner }}"
    group: "{{ configs.group }}"
    mode: "{{ configs.mode }}"

- name: configure /etc/issue
  become: true
  ansible.builtin.template:
    backup: true
    src: templates/issue.j2
    dest: /etc/issue
    owner: "{{ configs.owner }}"
    group: "{{ configs.group }}"
    mode: "{{ configs.mode }}"

- name: start/enable cron
  become: true
  ansible.builtin.systemd_service:
    state: started
    daemon_reload: true
    name: "{{ cron_package }}"
    enabled: true
  when:
    - lookup('env', 'CI') != 'true'
    - ansible_facts.service_mgr == "systemd"
    - (ansible_facts.virtualization_type | default('')) not in ["docker", "podman", "container", "lxc", "lxd"]

- name: configure | sysctl
  become: true
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_set: true
    state: present
    reload: true
    sysctl_file: /etc/sysctl.d/999-ansible.conf
  with_dict: "{{ sysctl_params }}"
  when:
    - configure_sysctl|bool
    - ansible_facts.virtualization_type != 'docker'
    - lookup('env', 'CI') != 'true'

- name: configure | systemd-journald
  become: true
  ansible.builtin.template:
    backup: true
    src: templates/journald.conf.j2
    dest: /etc/systemd/journald.conf
    owner: "{{ configs.owner }}"
    group: "{{ configs.group }}"
    mode: "{{ configs.mode }}"
  notify: restart journald
  when:
    - ansible_facts.service_mgr == "systemd"

- name: configure sshd
  become: true
  ansible.builtin.lineinfile:
    backup: true
    path: /etc/ssh/sshd_config
    regexp: ^{{ item.key }}
    line: "{{ item.key }} {{ item.value }}"
    state: present
    owner: "{{ configs.owner }}"
    group: "{{ configs.group }}"
    mode: "0600"
    validate: /usr/sbin/sshd -T -f %s
  with_dict: "{{ sshd_config }}"
  when:
    - ansible_facts.virtualization_type != 'docker'
    - lookup('env', 'CI') != 'true' # for CirleCI
  notify: restart_sshd
  tags: sshd
