---
- name: tzdata | Ensure tzdata package is installed
  become: true
  ansible.builtin.package:
    name: "{{ system_tzdata_package }}"
    state: present

- name: tzdata | set timezone to {{ system_common_timezone }}
  become: true
  community.general.timezone:
    name: "{{ system_common_timezone }}"

- name: ntp | disable old daemons
  become: true
  ignore_errors: true # because this service could be not presented
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: stopped
    masked: true
  loop:
    - ntpd
    - chronie

- name: ntp | configure timesyncd
  become: true
  ansible.builtin.template:
    backup: true
    src: templates/timesyncd.conf.j2
    dest: /etc/systemd/timesyncd.conf
    owner: "{{ system_configs.owner }}"
    group: "{{ system_configs.group }}"
    mode: "{{ system_configs.mode }}"
  notify:
    - restart_ntp

- name: ntp | start and enable during play
  become: true
  ansible.builtin.service:
    name: "{{ system_ntp_service }}"
    state: started
    enabled: true
  when:
    - lookup('env', 'CI') != 'true'
    - ansible_facts.service_mgr == "systemd"
    - ansible_virtualization_type != "docker"
