---
- name: restart journald
  become: true
  ansible.builtin.service:
    name: systemd-journald
    state: restarted

- name: restart_sshd
  become: true
  ansible.builtin.service:
    name: sshd
    state: restarted
    enabled: true

- name: restart_ntp
  become: true
  ansible.builtin.service:
    name: "{{ ntp_service }}"
    state: restarted
    enabled: true
  when:
    - lookup('env', 'CI') != 'true'

- name: systemd-vconsole-setup
  become: true
  ansible.builtin.service:
    name: systemd-vconsole-setup.service
    state: restarted
  when:
    - lookup('env', 'CI') != 'true'

- name: sshd_agent_user
  ansible.builtin.systemd:
    scope: user
    name: ssh-agent.service
    state: restarted
    enabled: true
    daemon_reload: true
