---
- name: RestartJournald
  become: true
  ansible.builtin.service:
    name: systemd-journald
    state: restarted

- name: RestartSshd
  become: true
  ansible.builtin.service:
    name: sshd
    state: restarted
    enabled: true

- name: RestartDocker
  become: true
  ansible.builtin.service:
    name: docker
    state: restarted

- name: RestartNtp
  become: true
  ansible.builtin.service:
    name: "{{ system_ntp_service }}"
    state: restarted
    enabled: true
  when:
    - lookup('env', 'CI') != 'true'
    - ansible_virtualization_type != "docker"

- name: SystemdVconsoleSetup
  become: true
  ansible.builtin.service:
    name: systemd-vconsole-setup.service
    state: restarted
  when:
    - lookup('env', 'CI') != 'true'
    - ansible_service_mgr == "systemd"
    - ansible_virtualization_type != "docker"

- name: SshdAgentUser
  ansible.builtin.systemd:
    scope: user
    name: ssh-agent.service
    state: restarted
    enabled: true
    daemon_reload: true
