name: ansible

permissions:
  contents: read

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ansible_lint:
    name: ansible_lint
    uses: tenhishadow/github_actions_templates/taskfile.uv.yaml
    with:
      os: ubuntu-latest
      task_target: lint
      ansible_force_color: false

