name: ansible

permissions:
  contents: read

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ansible_lint:
    name: ansible_lint
    uses: ./.github/workflows/_ansible-run.yml
    with:
      os: ubuntu-latest
      task_target: lint
      ansible_force_color: false
